// Buttons
// ------------------------------------------------------------

.btn{
  display: inline-block;
  padding: 0 16px;
  height: 49px;
  line-height: 47px;
  background: $main;
  border: solid 2px $main;
  color: $contrast; 
  border-radius: 5px;
  text-transform: uppercase;
  @include font-size(20);
  @include font-sans;
  transition: color 0.2s, border 0.2s,  background 0.2s;

  &:hover{
    background: $light;
    border-color: $light;
  }

  //Outline
  &.outline{
    background: transparent;
    border-color: rgba($light, 0.4);
    color: $light;
    &:hover{
      background: $contrast;
      border-color: $contrast;
    }
    
  }

}