// Information 

.main-content .wrapper.info{
  @include respond-min($bp-desktop) {

    .sub-nav{
      width: 35%;
      float: left;
      ul {margin-top: 0;}
    }

    .main{
      width: 65%;
      float: left;
    }

  }

}

.accommodation,
.food-drink {
  @include clearfix();
  .col{
    @include respond-min($bp-desktop) {
      width: 30%;
      margin-left: 5%;
      float: left;
      &:first-child{margin-left: 0;}
    }
  }
}

.travel {
  @include clearfix();
  .col{
    @include respond-min($bp-desktop) {
      width: 45%;
      margin-left: 10%;
      float: left;
      &:first-child{margin-left: 0;}
    }
  }
}

#accommodation,
#food-drink,
#accessibility{
  @include overline(default);
}