// Sponsors

.main-content{
  @include clearfix();
  padding-top: 140px;
}

// Sponsors Page
body.sponsors{

  p.download{
    @include overline(default);
  }
  
  @include respond-min($bp-tablet){
    .main-content .wrapper{
      h2, p.download, .media:before{
        margin-left: 35%;
      }
    }
  }

  .site-footer{
    padding-top: 50px;
  }

}


// Sponsors Footer
.block.sponsors {
  background-color: $light;
  text-align: center;
  h1{text-align: left;}
  h2{
    border-bottom: solid 2px $border;
    padding: 0 0 10px 0;
    margin: 20px 0 40px 0;
  }
  .sponsor-logo{
    display: inline-block;
    margin: 0 0 40px 0;
  }

  .btn.outline{
    border-color: $border;
    color: $main;
    &:hover{
      border-color: $main;
      background-color: $main;
      color: $light;
    }
  }

}