<section class="block tickets">
  <div class="wrapper">

    <h1>Tickets</h1>

    <div class="releases">

      <div class="release">
        <h2>First Release</h2>
        <p class="cost">Regular</p>
        <p class="cost">Student</p>
        <p class="sold-out">Sold Out</p>
      </div>

      <div class="release">
        <h2>Second Release</h2>
        <p class="cost">
          Regular
          <span>&pound;79</span>
        </p>
        <p class="cost">
          Student
          <span>&pound;39</span>
        </p>
        <%= link_to 'Buy Now', '#', :class => "btn" %>
      </div>

      <div class="release">
        <h2>Third Release</h2>
        <p class="cost">
          Regular
          <span>&pound;99</span>
        </p>
        <p class="cost">
          Student
          <span>&pound;39</span>
        </p>
        <%= link_to 'Buy Now', '#', :class => "btn" %>
      </div>
      
    </div>
      
  </div>
    </section>