<section class="block tickets" id="tickets">
  <div class="wrapper">

    <h1>Tickets</h1>

    <div class="releases">

      <div class="release">
        <h2>First Release</h2>
        <p class="cost" title="Sold Out">
          <del>
            Regular
            <span>&pound;59</span>
          </del>
        </p>
        <p class="cost">
          Student
          <span>&pound;19</span>
        </p>
        <%= link_to 'Buy Now', 'https://ti.to/bath-ruby/2016', :class => "btn" %>
      </div>

      <div class="release not-on-sale">
        <h2>Second Release</h2>
        <p class="cost">
          Regular
          <span>&pound;79</span>
        </p>
        <p class="cost">
          Student
          <span>&pound;19</span>
        </p>
      </div>

      <div class="release not-on-sale">
        <h2>Third Release</h2>
        <p class="cost">
          Regular
          <span>&pound;99</span>
        </p>
        <p class="cost">
          Student
          <span>&pound;19</span>
        </p>
      </div>
      
    </div>

    <div id="mc_embed_signup">
      <p>Get notified of conference updates</p>
      <form action="//bathruby.us1.list-manage.com/subscribe/post?u=f18bb7508370614edaffb50dd&amp;id=73743da027" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">  
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
          </div>
 <!--          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div> -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f18bb7508370614edaffb50dd_73743da027" tabindex="-1" value="">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </form>
    </div>
      
  </div>
</section>
