---
page_classes: "schedule"
description: "Situated in the beautiful British city of Bath, Bath Ruby is a conference for Rubyists of all skill levels."
---

<div class="main-content">

  <div class="wrapper">

    <h1>Friday 11th March 2016</h1>

    <ul class="schedule">

      <li>
        <div class="info">
          <p class="time">08:30 - 09:30</p>
        </div>
        <div class="detail">
          <p class="title">Registration</p>
        </div>
      </li>

      <li>
        <div class="info">
          <p class="time">09:30 - 18:00</p>
        </div>
        <div class="detail">
          <p class="title">A full day of talks</p>
          <p>Full schedule to be confirmed</p>
        </div>
      </li>

      <li>
        <div class="info">
          <p class="time">18:00 - 21:00</p>
        </div>
        <div class="detail">
          <p class="title">After Party</p>
          <p>Details coming soon!</p>
        </div>
      </li>
    </ul>

  </div>
    
</div>

<%= partial "tickets" %>

<%= partial "sponsors" %>