// Last Year
// ------------------------------------------------------------

.block.last-year{
  background: $main url(/images/last-year-bg.jpg) no-repeat center center;
  background-size: cover;
  color: $light;
  padding: 75px 30px;
  @include respond-min($bp-tablet){
    padding: 75px;
  }

  // Text
  p{@include type-main-heading();}

  // Link
  a{
    padding-top: 134px;
    display: block;
    width: 124px;
    color: $light;
    text-transform: uppercase;
    background: url("/images/play-video.png") no-repeat 0 0;
    background-size: 124px;
    @include font-size(15);
    @include font-sans();
    font-weight: 700;
    text-align: center;
    &:hover{color: $contrast;}
  }

  @include respond-min($bp-tablet){
    height: 100vh;
    position: relative;
    .content-wrapper{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

