// Tickets
// ------------------------------------------------------------

.block.tickets{
  @include clearfix();
  background: $contrast;
  color: $light; 

  h1{color: $light;}

  h2{
    background: url("/images/underline-red.gif") no-repeat left bottom;
    background-size: 20px 2px;
    padding-bottom: 17px;
  }
}

.releases{
  @include clearfix();
  display: block;
  width: 100%;

}

.release{
  @include clearfix();
  display: block;
  margin: 0 0 40px 0;
  max-width: 320px;
  @include respond-min($bp-tablet){
    @include span-columns(4);
    @include omega(3n);
  }

}

.cost{
  color: $main;
  width: 50%;
  float: left;
  span{
    color: $light;
    display: block;
    @include type-main-heading();
  }
}

.sold-out{
  @include type-main-heading();
}

