// Speakers Block

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

.block.speakers {
  background: transparent;
  color: $contrast;
  a{
    color: $contrast;
    &:hover{color: $light;}
  }

  h2{
    @include type-main-heading();
    color: $light;
  }
}


.speaker-list{
  margin: 0;
  padding: 0;
  li {
    @include list-style-none();
    text-align: center;
    display: block;

    img{
      display: block;
      margin: 0 auto;
    }

    h3{
      @include font-sans();
      text-transform: uppercase;
      @include font-size(20);
      color: $light;
    }

    .twitter{
      @include font-sans();
      text-transform: uppercase;
      @include font-size(12);
      font-weight: 700;
    }
    
  }

  @include respond-min($bp-tablet) {
    li{
      @include span-columns(4);
      @include omega(3n);
    }
  }

    @include respond-min($bp-desktop) {
    li{
      @include omega-reset(3n);
      @include span-columns(2);
      @include omega(6n);
    }
  }


}


