// Application Stylesheets
// ------------------------------------------------------------
.cta{
  text-align: center;
  padding: 15px 0 0 0;
  display: block;
  clear: both;
  p{
    @include font-italic();
    font-size: 12px;
    margin: 15px 0 0 0;
    padding: 0;
    a{@include font-heavy-italic();}
  }
}