// Application Stylesheets
// ------------------------------------------------------------
.cta{
  text-align: center;
  padding: 15px 0 0 0;
  display: block;
  clear: both;
  p{
    @include font-size(12);
    margin: 15px 0 0 0;
    padding: 0;
  }
}