// Footer
// ------------------------------------------------------------

.site-footer{
  text-align: center;
  @include font-size(12);
  color: $contrast-light;
  background-color: $light;
  padding-bottom: 50px; 
}

.footer-heading{
  color: $main;
  @include font-sans;
  font-weight: 700;
}

.charity-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.charity-info {
  margin-bottom: 50px;
}

.twitter-link {
  padding-left: 30px;
  background: url(/images/icon-twitter.png) no-repeat 0 0;
  background-size: 25px 20px;
  line-height: 25px;
  display: inline-block;
  height: 25px;
  @include respond-min($bp-tablet){
    float: left;
    display: block;
  }
}

.copy{
  @include respond-min($bp-tablet){
    float: right;
    margin: 0;
    max-width: 170px;
    text-align: right;
  }
}