// Home
// ------------------------------------------------------------

body.index{
  background: $main url("/images/home-bg.jpg") no-repeat top right;
  background-size: 400px auto;

  @include respond-min(500px) {
    background-size: 768px auto;
  }

  @include respond-min(769px) {
    background-image: url("/images/home-bg-desktop.jpg") no-repeat 0 0;
    background-size: 1024px auto;
  }

  @include respond-min(1025px) {
    background-size: 1200px auto;
  }

  @include respond-min(1200px) {
    background-size: 100% auto;
  }


  // Header Colours
  .logo{background-image: url("/images/logo-white.png");}
  .menu{background-image: url("/images/menu-white.png");}
  .main-nav li a {
    color: $light;
    &:hover{color: $contrast;}
  }



}