// Media
.media{
  @include clearfix();
  @include overline(default);
  margin-bottom: 20px;
  .company-logo{
    margin: 0 auto 20px auto;
    display: block;
    max-width: 300px;
  }

  @include respond-min($bp-tablet){
    .company-logo{
      width: 30%;
      float: left;
      margin-right: 5%;
    }
    p{
      width: 65%;
      float: left;
    }

  }
}