// Media
.media{
  @include clearfix();
  @include overline(default);
  margin-bottom: 20px;
  .sponsor-logo{
    margin: 0 auto 20px auto;
    display: block;
    max-width: 300px;
  }

  @include respond-min($bp-desktop){
    .sponsor-logo{
      // @include span-columns(4, block-collapse);
    }
    p{
      // @include span-columns(6, block-collapse);
    }

  }
}