// Speaker List

.speaker-list{
  @include list-style-none();
  @include clearfix();

  li {
    text-align: center;
    display: block;
    margin-bottom: 45px;
    
    img{
      display: block;
      margin: 0 auto 15px auto;
    }

    h3{
      @include font-sans();
      text-transform: uppercase;
      @include font-size(20);
      color: $light;
      margin-bottom: 0;
      letter-spacing: 1px;
    }

    a.twitter{
      @include font-sans();
      text-transform: uppercase;
      @include font-size(12);
      font-weight: 700;
      margin-bottom: 20px; 
      display: block;
    }

    p{
      font-size: 12px;
      @include font-italic();
    }

    a{
      @include font-heavy-italic();
      color: $contrast;
      &:hover{color: $light;}
    }
    
  }

  @include respond-min($bp-tablet) {
    margin-bottom: 100px;
    margin-left: $gutter;
    li{
      // @include span-columns(3.3, block-collapse);
      // @include omega(3n);
      position: relative;
      
      &:nth-child(3n+1){
        top: 100px;
      }

      &:nth-child(3n+2){
        top: 50px;
      }

      // &:nth-child(3n+3){
      // }
    }
  }

  //   @include respond-min($bp-desktop) {
  //   li{
  //     @include omega-reset(3n);
  //     @include span-columns(2);
  //     @include omega(6n);
  //   }
  // }


}