// Sub Nav

.sub-nav{
  margin-bottom: 40px;
  ul {
    @include list-style-none();
    li  a{
      text-transform: uppercase;
      @include font-size(20);
      @include font-sans();
      font-weight: 400;
    }
  }
}