// Tickets
// ------------------------------------------------------------
.block.tickets{
  @include clearfix();
  background: $contrast;
  color: $light; 

  h1{color: $light;}

  h2{
    @include underline(red);
  }
}

.releases{
  @include clearfix();
  margin: 0 auto;
  width: 220px;
  @include respond-min($bp-desktop){
    width: 100%;
    margin: 0;
  }
}

.release{
  @include clearfix();
  display: block;
  margin: 0 0 50px 0;
  
  &.not-on-sale{
    .cost, .cost span, h1, h2, .sold-out-cost{
      color: $sold-out;
    }
    h2{@include underline(light-blue);}
  }

  @include respond-min($bp-desktop){
    float: left;
    width: 33.3%;
  }

  .btn{margin-top: 20px;}

}

.cost{
  color: $main;
  float: left;
  width: 103px;
  margin: 0;
  span{
    color: $light;
    display: block;
    @include type-main-heading();
  }
}

.sold-out-cost{
  @include type-main-heading();
  margin-bottom: 0;
  line-height: 1;
}