// Wrapper
// ------------------------------------------------------------

.wrapper{
  @include clearfix();
  width: 80%;
  margin: 0 auto;
}

.main-content,
.block.hero,
.block.sponsors,
.block.tickets,
.block.speakers {
  @include respond-min($bp-desktop) {
    .wrapper{width: 60%;}
  }
}

.block.speakers .wrapper.speakers{
  width: 80%;
}